:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 500ms;
}

.toggle {
	display: none;
}

.toggleLabelOff {
	display: block;
	width: 230px;
	height: 102px;
	border-radius: 59px;
	background-color: var(--label);
	cursor: pointer;
}

.toggleLabelOff::before {
	content: "";
	width: 86px;
	height: 86px;
	position: relative;
	display: block;
	background-color: var(--light);
	border-radius: 50%;
	z-index: 1;
	top: 8px;
	left: 12px;
	transition: 500ms;
}

.toggleLabelOn {
	display: block;
	width: 230px;
	height: 102px;
	border-radius: 59px;
	background-color: var(--label);
	cursor: pointer;
}

.toggleLabelOn::before {
	content: "";
	width: 86px;
	height: 86px;
	position: relative;
	display: block;
	background-color: var(--light);
	border-radius: 50%;
	z-index: 1;
	top: 8px;
	left: calc(100% - 86px - 11px);
	transition: 500ms;
} 

.iconSun {
	display: block;
	width: 94px;
	height: 94px;
	position: relative;
	bottom: calc(100% - 20px);
	left: calc(100% - 94px - 7px);
}

.iconMoon {
	display: block;
	width: 94px;
	height: 94px;
	position: relative;
	bottom: calc(100% - 20px);
	left: calc(0% + 7px);
}